*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
.container,
textarea{
    color: white;
    background-color: #e64b00;
}
.container h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
textarea{
    resize: none;
    border: none;
    outline: none;
    padding: 2rem 0;
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
textarea::placeholder{
    color: #fff;
}
#speech{
    width: 10rem;
    padding: .8rem;
    cursor: pointer;
    color: #e64b00;
    font-size: 1.2rem;
    border-radius: 15rem;
    display: inline-block;
    transition: all .3s linear;
    border: 2px solid #e64b00;
}
#speech:hover{
    color: #fff;
    border-color: #fff;   
    background-color: #e64b00;
}